src/View/Web/Connected Services/WCF.ReactionWay/SearchService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReturnList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReturnList" nillable="true" type="tns:ReturnList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReturnList" nillable="true" type="tns:ArrayOfReturnList" />
  <xs:complexType name="ReturnList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanMake" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSmiles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetroReactionID" type="xs:int" />
      <xs:element minOccurs="0" name="Steps" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="citationID" type="xs:int" />
      <xs:element minOccurs="0" name="isMore" type="xs:int" />
      <xs:element minOccurs="0" name="procedure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reactionID" type="xs:int" />
      <xs:element minOccurs="0" name="reactionObject" nillable="true" type="tns:ArrayOfReaction" />
      <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rxnsmiles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="yield" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnList" nillable="true" type="tns:ReturnList" />
  <xs:complexType name="ArrayOfReaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reaction" nillable="true" type="tns:Reaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReaction" nillable="true" type="tns:ArrayOfReaction" />
  <xs:complexType name="Reaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="MoleculeID" type="xs:int" />
      <xs:element minOccurs="0" name="cas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasPrice" type="xs:int" />
      <xs:element minOccurs="0" name="molMass" type="xs:double" />
      <xs:element minOccurs="0" name="smiles" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reaction" nillable="true" type="tns:Reaction" />
  <xs:complexType name="PriceEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="cas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package" type="xs:decimal" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="weight" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceEntity" nillable="true" type="tns:PriceEntity" />
  <xs:complexType name="CASAndPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="cas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasPrice" type="xs:int" />
      <xs:element minOccurs="0" name="molMass" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CASAndPrice" nillable="true" type="tns:CASAndPrice" />
</xs:schema>