src/View/Web/Connected Services/WCF.ReactionWay/SearchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity.CalculatePrices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity.CalculatePrices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemNode" nillable="true" type="tns:ItemNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemNode" nillable="true" type="tns:ArrayOfItemNode" />
  <xs:complexType name="ItemNode">
    <xs:sequence>
      <xs:element name="_x003C_CAS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NeedMoney_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_NodeID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Smiles_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Weight_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_Yield_x003E_k__BackingField" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemNode" nillable="true" type="tns:ItemNode" />
</xs:schema>