src/View/Web/Connected Services/WCF.ReactionWay/SearchService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:16880/SearchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JChemBaseSearch" />
  <xs:import schemaLocation="http://127.0.0.1:16880/SearchService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://127.0.0.1:16880/SearchService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" />
  <xs:import schemaLocation="http://127.0.0.1:16880/SearchService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity.CalculatePrices" />
  <xs:import schemaLocation="http://127.0.0.1:16880/SearchService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetMoleculeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoleculeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JChemBaseSearch" minOccurs="0" name="GetMoleculeListResult" nillable="true" type="q1:RetroResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMolResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MolString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSmilesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitatioinList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConditionId" type="xs:int" />
        <xs:element minOccurs="0" name="RetroReactionId" type="xs:int" />
        <xs:element minOccurs="0" name="querySmiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retroSmiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitatioinListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JChemBaseSearch" minOccurs="0" name="GetCitatioinListResult" nillable="true" type="q2:CitationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConditionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConditionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JChemBaseSearch" minOccurs="0" name="GetConditionListResult" nillable="true" type="q3:ConditionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoleculeConditionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RetroReactionId" type="xs:int" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoleculeConditionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JChemBaseSearch" minOccurs="0" name="GetMoleculeConditionListResult" nillable="true" type="q4:ConditionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="width" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="height" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFormat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="GetPictureResult" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitationPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="citationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="width" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="height" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFormat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitationPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="GetCitationPictureResult" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagPictureId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productSmiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="width" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="height" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFormat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="GetTagPictureResult" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRxnFromProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsRoot" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRxnFromProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" minOccurs="0" name="GetRxnFromProductResult" nillable="true" type="q8:ArrayOfReturnList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubStrctureProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubStrctureProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" minOccurs="0" name="GetSubStrctureProductResult" nillable="true" type="q9:ArrayOfReturnList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRxnByReactionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="ReactionID" type="xs:int" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRxnByReactionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" minOccurs="0" name="GetRxnByReactionIDResult" nillable="true" type="q10:ArrayOfReturnList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReactionByConditon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReactionByConditonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" minOccurs="0" name="GetReactionByConditonResult" nillable="true" type="q11:ArrayOfReturnList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReactionLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReactionLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" minOccurs="0" name="GetReactionLikeResult" nillable="true" type="q12:ArrayOfReturnList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" minOccurs="0" name="GetProductLikeResult" nillable="true" type="q13:ArrayOfReturnList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRetroReaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RetroReactionID" type="xs:int" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRetroReactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" minOccurs="0" name="GetRetroReactionResult" nillable="true" type="q14:ArrayOfReturnList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmilesByCAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmilesByCASResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSmilesByCASResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PSmiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RSmiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Yield" type="xs:double" />
        <xs:element minOccurs="0" name="PWeight" type="xs:double" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" minOccurs="0" name="GetItemPriceResult" nillable="true" type="q15:PriceEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPriceCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemNode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPriceCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity.CalculatePrices" minOccurs="0" name="ListPriceCountResult" nillable="true" type="q16:ArrayOfItemNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" minOccurs="0" name="GetPriceHistoryResult" nillable="true" type="q17:CASAndPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMolByCasOrName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Condition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMolByCasOrNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMolByCasOrNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmilesByCasOrName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Condition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmilesByCasOrNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSmilesByCasOrNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReactionWayPic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReactionWayPicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/Message" name="GetReactionWayPicResult" type="q18:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReactionWay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReactionWayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveReactionWayResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportWordResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitationByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CitationID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitationByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCitationByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReactionByReactant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Smiles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsRoot" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReactionByReactantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/JChemBaseSearchEntity" minOccurs="0" name="GetReactionByReactantResult" nillable="true" type="q19:ArrayOfReturnList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCD_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smiles" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCD_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCD_IDResult" nillable="true" type="q20:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJchemQueryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smiles" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJchemQueryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetJchemQueryIDResult" nillable="true" type="q21:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmilesFromCASByChemaxon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmilesFromCASByChemaxonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSmilesFromCASByChemaxonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>